# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
htmlcov/

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Pytest
.pytest_cache/

# Coverage
.coverage
.coverage.*
coverage.xml

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
